* {
    margin: 0;
    overflow-y: hidden;
}

.intro {
    color: rgb(94, 22, 22);
    font-weight: 800;
    font-size: 20px;
}

.intro-background {
    background-color: rgb(171, 122, 87);
}

body {
    font-family: 'Stick', sans-serif;
    background-image: linear-gradient(to top right, rgb(208, 136, 136), yellow);
}

.author {
    font-size: 7px;
}

.fa-exclamation-circle {
    font-size: 20px;
}

.me {
    font-size: 30px;
    color: darkred;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.introduction-box {
    display: flex;
    align-items: center;
}

#canvas {
    display: flex;
    justify-content: center;
}

.game-of-life {
    padding-top: 5px;
    margin-bottom: 0;
    border-bottom: solid 2px rgb(149, 96, 96);
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(145, 74, 74), yellow);
}

.pattern {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 10px;
}

.word-style {
    font-family: 'Stick', sans-serif;
    box-shadow: 3px 3px 2px 1px rgba(42, 42, 44, 0.62);
}

.topic-style {
    font-weight: bolder;
    text-align: right;
    display: flex;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.speeder {
    display: flex;
    justify-content: center;
}

.Game-rule-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pause,
.restart {
    font-size: 30px;
    margin-left: 10px;
}

.control-panel {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.small-box {
    display: flex;
    justify-content: center;
}

.start-box {
    display: flex;
}

.slider-container {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    display: flex;
}

.fas:hover {
    opacity: 1;
    transition: 0.3s;
    color: grey;
}

.range-size input {
    width: 30px;
    margin: 10px;
    color: tomato;
}

.screen {
    display: grid;
    justify-content: center;
}

.control {
    text-align: center;
    border: solid black;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.inside-control {
    border: solid black;
    margin-left: 5px;
    margin-right: 5px;
}


/* ---pop-up message */

*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 800px;
    height: 600px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-weight: bold;
    text-align: center;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* <!-- --pop up message --> */


/* ---Q&A */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em
}

body {
    box-sizing: border-box;
}

section {
    padding: 10% 20%;
}

.animate {
    transition: all .3s;
}

input[name=question] {
    display: none;
}

input[name=question]+label {
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: #5a9aa8;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.response {
    position: relative;
    background: #7B2623;
    color: #7A2723;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, -40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked+label {
    background: #F6F6F6;
    color: #5a9aa8;
}

input[name=question]:checked+label+.response {
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: white;
}

.fixed-height {
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}


/* ----end Q&A  */